body{
	background-color: #101014;
}

h1{
	color: red;
	text-align: center;
	font-size: 60px;
    border: 10px solid blue;
    -o-border-radius: 50px;
    border-radius: 50px;
    padding: 10px;
    margin: 15px;
}

p{
	color: #83004A;
	-webkit-text-transform: uppercase;
	-ms-text-transform: uppercase;
	text-transform: uppercase;
	text-align: center;
	font-size: 2em;
	margin: 15px;
	-moz-text-decoration: underline;
	-webkit-text-decoration: underline;
	-o-text-decoration: underline;
	-ms-text-decoration: underline;
	text-decoration: underline;
}

.under{
	-moz-text-decoration: underline;
	-webkit-text-decoration: underline;
	-o-text-decoration: underline;
	-ms-text-decoration: underline;
	text-decoration: underline;
}

.back{
	color: white;
	text-align: center;
}

.flesh{
	color: whitesmoke;
}